/* 
    Created on : Feb 13, 2022, 3:04:54 PM
    Author     : RubisRage (Rubén Santana Lorenzo - ruben.santana120@alu.ulgpc.es)
*/

body {
    padding-top: 70px;
}

#navbar {
    list-style-type: none;
    width: 100%;
    padding: 0px;
    background-color: #003333;
    overflow: hidden;
    border: 0;
    position: fixed;
    top: 0;
    margin-top: 0;
    margin-left: -8px;
}

#navbar li {
    display: inline;
    float: left;
}

#navbar li:last-child {
    float: right;
}

#navbar li a {
    color: white;
    display: block;
    padding: 30px 30px;
    text-decoration: none;
    text-align: center;
}

#navbar li a:hover {
    background-color: #04AA6D;
}


#productTable {
    margin-top: 20px;
    width: 100%;
}

#productTable, #productTable tr, #productTable td{
  border: 1px solid black;
  border-collapse: collapse;
}
